body {
  margin: 0;
  padding-top: 80px;
  font-family: sans-serif;
}

#social-media-links {
	position: absolute;
	right: 50px;
	top:100px;
}

#home-jumbotron {
	background-color: black;
	color: white;
}

.item-group-well {
	border-bottom: solid;
}

